<html>
	<head>
		<title>Code Graphs</title>
		<link rel="stylesheet" href="/styles/home.css">
		<link rel="stylesheet" href="/styles/globals.css">
	</head>
	<body>
		<h1>Code Graphs</h1>

		<main>
			<section class="openApi">
				<h2>Custom Image Layer API:</h2>
				<p>These graphs provide an abstracted layer on top of existing svg APIs</p>
				<hr/>
				<h3>Static Github Streak Graph</h3>
				<h4><code>https://graphs.insomnizac.xyz/api/streak/:username</code></h4>
				<h4>Example: <code>https://graphs.insomnizac.xyz/api/streak/zrwaite</code></h4>
				<a href={{ .github_streak_graph_link }}>
					<img class="githubStreakGraph" src={{ .github_streak_graph_link }} alt="Github Streak Graph" />
				</a>
				<hr/>
				<h3>Github Languages Graph</h3>
				<h4><code>http://graphs.insomnizac.xyz/api/github/languages/:username?hide=css,etc</code></h4>
				<h4>Example: <code>http://graphs.insomnizac.xyz/api/github/languages/zrwaite?hide=css,html</code></h4>
				<a href={{ .github_languages_graph_link }}>
					<img class="githubLanguagesGraph" src={{ .github_languages_graph_link }} alt="Github Languages Graph" />
				</a>
			</section>

			<section class="authApi">
				<h2>WakaTime API:</h2>
				<hr/>
				{{ if .authorized }}
				{{ else }}
					<h4>To access WakaTime Graphs, you must give permission to this app.</h4>
					<a 
						class="authorizeButton" 
						href={{ .auth_href }}
					>
						Authorize Wakatime
					</a>
					<h4>You will be given a 1 hour free trial, then will have to reach out to Zac to get verified.</h4>
				{{ end }}
				<h3>Wakatime Pi Graph</h3>
				{{ if .authorized }}
					<h4><code>{{ .wakatime_pi_graph_link }}</code></h4>	
					<div class="linkedImage">
						<a href={{ .wakatime_pi_graph_link }}>
							<img src={{ .wakatime_pi_graph_link }} alt="Wakatime Pi Graph" />
						</a>
					</div>
				{{ else }}
					<h4><code>https://graphs.insomnizac.xyz/api/wakatime/:username</code></h4>
					<h4>Example: <code>https://graphs.insomnizac.xyz/api/wakatime/Insomnizac</code></h4>
					{{ range .public_graph_links }}
						<div class="linkedImage">
							<a href={{ . }}>
								<img src={{ . }} alt="Wakatime Pi Graph" />
							</a>
						</div>
					{{ end }}
				{{ end }}
			</section>
		</main>
	</body>
</html>