<html>
	<head>
		<title>Code Graphs</title>
		<link rel="stylesheet" href="/styles/home.css">
		<link rel="stylesheet" href="/styles/globals.css">
		{{ template "nav_styles" . }}
	</head>
	<body>
		{{ template "nav" .}}
		<h1>{{ .title }}</h1>
		{{ template "footer" .}}
	</body>
</html>